@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../images/vax2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 38vh;
        display: flex;
        align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.logo img {
    width: 190px;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: rgb(148, 28, 28);
    transition: 0.5s;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.meat {
    background-color: black;
        display: flex;
        align-items: center;
}

.meat {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.meat-content {
    text-align: center;
}

.meat-content img {
    width: 500px;
}

/* .meat-content span {
    color: rgb(122, 16, 16);
} */

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.meat-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.meat-1 {
    padding: 0 25px;
}

.meat-1 img {
    width: 200px;
    border-radius: 5px;
}

.meat-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: rgb(122, 16, 16);
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: rgb(117, 31, 31);
}

.products {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)),
        url(../images/iStock-923692030.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

.products-content {
    text-align: center;
}

.products-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.products-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.products-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.products-1 {
    padding: 0 100px;
}

.products-1 img {
    width: 150px;
    height: 120px;
    margin-bottom: 15px;
}

.products-1 h3 {
    color: #EACCB3;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(../images/3232.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(../images/iStock-945849940.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: rgb(122, 16, 16);
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.blog p {
    font-weight: 600;
}

.blog-1 {
    padding: 15px 55px;
}


.blog-1 img {
    width: 250px;
    margin-bottom: 15px;
}

.blog-2 {
    padding: 15px 55px;
}


.blog-2 img {
    margin-top: 60px;
    width: 250px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}

.blog-2 h3 {
    font-size: 25px;
    color: #323337;
}

.footer {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../images/fondo2.jpg);
    padding: 50px 0;
    min-height: 10vh;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.link-1 {
    display: flex;
    flex-direction: column;
}

.link-1 h3 {
    font-size: 18px;
    color: #F9FAFC;
}


.enlace img {
    width: 55px;
    margin: 20px 10px;
}


.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 7px;
}

.link ul li {
    flex-direction: column;
    font-size: 15px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}




@media(max-width:991px) {

    .menu {
        padding: 0;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 50%;
    }

    .menu .navbar ul li a {
        font-size: 12px;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .meat {
        padding: 30px;
    }

    .meat-content h2 {
        font-size: 40px;
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .meat-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .meat-img {
        display: none;
    }

    .products {
        padding: 30px;
    }

    .products h2 {
        font-size: 40px;
    }

    .products-content p {
        padding: 0;
    }

    .products-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .products-1 {
        margin-bottom: 25px;
    }

    #info {
        display: flex;
        flex-direction: column;
    }

    #info2 {
        display: flex;
        flex-direction: column-reverse;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-1 h2 {
        font-size: 40px;
    }

    .general-2 {
        width: 100%;
        padding: 30px;
        min-height: 70vh;
    }

    .general-3 {
        width: 100%;
        padding: 30px;
        min-height: 70vh;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog h2 {
        font-size: 40px;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}